<header
  class="sticky top-0 w-full h-16 shadow-lg bg-opacity-10 bg-gray-50 dark:bg-gray-700 backdrop-blur-lg backdrop-filter"
>
  <nav
    class="container flex items-center justify-between h-full py-3 mx-auto center"
  >
    <a
      [routerLink]="[path.Home]"
      class="text-2xl font-bold no-underline cursor-pointer"
    >
      <span class="text-gray-400">Capitalize</span>Text
    </a>

    <div class="flex items-center">
      <a
        href="#"
        title="Caps"
        class="mr-6 btn btn-secondary"
      >
      <svg 
      viewBox="0 0 496 512"
      style="enable-background:new 0 0 502.35 502.35;"
      version="1.1" 
      aria-hidden="true"
      focusable="false"
      data-prefix="fab"
      data-icon="caps"
      class="w-8 stroke-current stroke-1 text-white-600"
      role="img" 
      xmlns="http://www.w3.org/2000/svg" 
      xml:space="preserve">
        <g>
          <g id="unknown-7">
            <path fill="currentColor"
            d="M298.35,334.05h127.5v-127.5h76.5L362.1,66.3L221.85,206.55h76.5V334.05z M221.85,436.05h280.5v-51h-280.5V436.05z
                M81.6,104.55L0,334.05h48.45l17.85-51h81.6l17.85,51h48.45l-81.6-229.5H81.6z M79.05,247.35l28.05-91.8l28.05,91.8H79.05z"/>
          </g>
          </g>
      </svg>
   
      </a>
     
    </div>
  </nav>
</header>
