<div class="flex flex-col items-center justify-center h-full">

  <div class="relative w-full px-20">
    <form #capsData = "ngForm" (ngSubmit) = "onClickCaps(capsData.value)">
      <textarea name="text" id="text" class="block w-full h-24 my-6 form-textarea" rows="5" placeholder="Enter word to Capitalize" ngModel>
      </textarea>
      <input class="px-4 py-2 font-semibold text-white bg-green-500 rounded-lg shadow-md bg-emerald-500 focus:outline-none" type = "submit" value = "Caps">
    </form>
  </div>
  <div class="relative w-full px-20">
    <form>
      <textarea name="capitilizedText"  [(ngModel)]='capitilizedText' disabled class="block w-full my-6 text-white bg-gray-600 form-textarea h-30" rows="10" placeholder="Result">
      </textarea>
    </form>
  </div>
</div>
